<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body style="color: blue" bgcolor="green" >
<center>

   <h1>OK Register</h1>

    <form method="post" action="{{ url_for('register') }}">
        {{ form.csrf_token }}
        <p>Firstname : {{ form.Fname }} </p>
        <p>Lastname : {{ form.Lname }} </p>
        <p>E-mail : {{ form.mail }}</p>
        {% for error in form.mail.errors %}
            <li style="color:red">{{ error }}</li>
        {% endfor %}
        <p>Username :  {{ form.Uname }} </p>
        <p>Password :{{ form.Pass }} </p>
        {% for error in form.Pass.errors %}
            <li style="color:red">{{ error }}</li>
        {% endfor %}


        <input type="submit" value="REGISTER"/>
    </form>

</center>
</body>
</html>